.App {
    text-align: center;
    padding: 50px;
    border-bottom: 2px solid #666666;
    background-color: #666666;
}

#main-input {
    border: 2px solid lightblue;
    border-radius: 2px;
    padding: 4px 8px;
}

.btn-add {
  background-color: lightgreen;
    border-radius: 2px;
    border: none;
    padding: 6px 9px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.btn-add:hover {
    background-color: darkblue;
}

.view {
    margin-top: 30px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgreen;
    width: 18%;
    border-radius: 6px;
}

.view > button {
    margin: auto;
    margin-right: -2%;
    padding: 4px 8px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 4px;
}

.view > p {
    color: #000;
    font-weight: bold;
}